<div class="card border-0 h-100">
    <div class="card-body p-0 rounded"
         style="background-color: #272822; margin-top: -4.5em !important;">
        <div class="d-flex gap-2 p-2" style="border-bottom: 1px #555 solid;">
            <div style="height: 0.9em; width: 0.9em;" class="rounded-circle bg-info"></div>
            <div style="height: 0.9em; width: 0.9em;" class="rounded-circle bg-warning"></div>
            <div style="height: 0.9em; width: 0.9em;" class="rounded-circle bg-danger"></div>
        </div>
        <div class="pb-1 px-1">
            <pre class="p-1 px-2 border-0"><code class="language-css border-0">{{ code }}</code></pre>
        </div>
    </div>
</div>