{% extends 'base.html' %}
{% block head %}
    <style>
        #box {
            max-width:768px;
            background-color: #fff;
        }
        [data-bs-theme=dark] {
            #box{
                background-color: #1b1b1b;
            }
        }
        #id_bio{
            height: 8em;
        }
    </style>
{% endblock %}
{% block layout %}
    <div id="box" class="shadow-lg rounded p-4 text-left m-auto mb-3 mt-4">
    
        {% block content %} 
        {% endblock %}
    
    </div>
{% endblock %}
