{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Title</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <script src="https://unpkg.com/htmx.org/dist/htmx.js" defer></script>
    
    {% block head %}{% endblock %}
</head>
<body>

{% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible shadow fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message | safe }}
    </div>
{% endfor %}

<header class="">
    <div>
        <a class="" href="/">
            <img class="h-6" src="{% static "images/logo.svg" %}" alt="Logo"/>
            <span class="">Project Title</span>
        </a>
    </div>
    <nav class="">
        <ul class="">
            {% if request.user.is_authenticated %}
                <li><a href="/">Home</a></li>
                <li>
                    <a>
                        <img class="" src="{{ user.profile.avatar }}"/>
                        {{ user.profile.name }}
                        <img src="https://img.icons8.com/small/32/777777/expand-arrow.png"/>
                    </a>
                    <ul class="">
                        <li><a href="{% url "profile" %}">My Profile</a></li>
                        <li><a href="{% url "edit-profile" %}">Edit Profile</a></li>
                        <li><a href="{% url "profile-settings" %}">Settings</a></li>
                        <li><a href="{% url "account_logout" %}">Log Out</a></li>
                    </ul>
                </li>

            {% else %}
                <li><a href="{% url "account_login" %}">Login</a></li>
                <li><a href="{% url "account_signup" %}?next={% url "profile-onboarding" %}">Signup</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

{% block layout %}
{% endblock %}

{% block endbody %}
{% endblock %}
</body>
</html>
