{% extends 'layouts/box.html' %}
{% load crispy_forms_filters %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-okaidia.min.css" integrity="sha512-mIs9kKbaw6JZFfSuo+MovjU+Ntggfoj8RwAmJbVXQ5mkAX5LlgETQEweFPI18humSPHymTb5iikEOKWF7I8ncQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        #box {
            max-width:768px;
            background-color: #fff;
        }
        [data-bs-theme=dark] {
            #box{
                background-color: #1b1b1b;
            }
        }
        #id_bio{
            height: 8em;
        }
    </style>
{% endblock %}

{% block content %}
<div class="text-center">
    <img width="120px" src="{{ profile.avatar }}" />
        <h1>{{ profile.name }}</h1>
        <div class="">@{{ profile.user.username }}</div>
        {% if profile.info %}
        <div class="">{{ profile.info|linebreaksbr }}</div>
        {% endif %}  
</div>
<div hx-get="{% url "code-edit-form" %}" hx-trigger="load" class="text-left">
    
</div>
{% endblock %}

{% block endbody %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js" integrity="sha512-7Z9J3l1+EYfeaPKcGXu3MS/7T+w19WtKQY/n+xzmw4hZhJ9tyYmcUS+4QqAlzhicE5LAfMQSF3iFTK9bQdTxXg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js" integrity="sha512-SkmBfuA2hqjzEVpmnMt/LINrjop3GKWqsuLSSB3e7iBmYK7JuWw4ldmmxwD9mdm2IRTTi0OxSAfEGvgEi0i2Kw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}
