{% extends 'layouts/box.html' %}

{% block content %}

<h1 class="">Account Settings</h1>

<table class="">
    <tbody>
        <tr>
            <th scope="row" class="">
                Email address
            </th>
            <td id="email-address" class="">
                {% if user.email %}{{ user.email }}{% else %}No Email{% endif %}
            </td>
            <td class="">
                <a id="email-edit" class=""
                hx-get="{% url "profile-emailchange" %}"
                hx-target="#email-address"
                hx-swap="innerHTML">
                    Edit
                </a>
            </td>
        </tr>
        <tr class="">
            <th class="">  
            </th>
            <td class="">
                {% if user.emailaddress_set.first.verified %}
                <span class="">Verified</span>{% else %}
                <span class="">Not verified</span>
                {% endif %}
            </td>
            <td class="">
                <a href="{% url "profile-emailverify" %}" class="">
                    {% if not user.emailaddress_set.first.verified %}Send Again{% endif %}
                </a>
            </td>
        </tr>

        <tr class="">
            <th class="">
                Delete Account
            </th>
            <td class="">
                Once deleted, account is gone. Forever.
            </td>
            <td class="">
                <a href="{% url "profile-delete" %}" class="">
                    Delete
                </a>
            </td>
        </tr>
    </tbody>
</table>


{% endblock %}
