{% extends 'layouts/box.html' %}

{% block content %}

<h1 class="">Account Settings</h1>

<table class="table mt-4">
    <tbody>
        <tr>
            <th scope="row" class="p-3 border-0">
                Email address
            </th>
            <td id="email-address" class="border-0 p-3">
                {% if user.email %}{{ user.email }}{% else %}No Email{% endif %}
            </td>
            <td class="border-0 p-3">
                <a id="email-edit" class=""
                hx-get="{% url "profile-emailchange" %}"
                hx-target="#email-address"
                hx-swap="innerHTML">
                    Edit
                </a>
            </td>
        </tr>
        <tr class="">
            <th class="px-3 pt-0 pb-3">  
            </th>
            <td class="px-3 pt-0 pb-3">
                {% if user.emailaddress_set.first.verified %}
                <span class="text-success">Verified</span>{% else %}
                <span class="text-warning">Not verified</span>
                {% endif %}
            </td>
            <td class="px-3 pt-0 pb-3">
                <a href="{% url "profile-emailverify" %}" class="">
                    {% if not user.emailaddress_set.first.verified %}Send Again{% endif %}
                </a>
            </td>
        </tr>

        <tr class="p-2">
            <th class="border-0 p-3">
                Delete Account
            </th>
            <td class="border-0 p-3">
                Once deleted, account is gone. Forever.
            </td>
            <td class="border-0 p-3">
                <a href="{% url "profile-delete" %}" class="">
                    Delete
                </a>
            </td>
        </tr>
    </tbody>
</table>


{% endblock %}
